<mat-card *ngIf="isLoaded()">{{employee.firstName}} {{employee.lastName}}</mat-card>
<div class="content">
  <mat-progress-spinner *ngIf="!isLoaded()" mode="indeterminate">
  </mat-progress-spinner>
  <div *ngIf="isLoaded()">
    <mat-card>
      <mat-list>
        <mat-list-item>
          {{employee.role}}
          <button mat-icon-button (click)="sendEmail()">
            <mat-icon>email</mat-icon>
            {{employee.email}}
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card *ngIf="endHolidayDate != null">
      <div class="out-of-office">Out of office until {{endHolidayDate}}</div>
    </mat-card>
    <mat-card *ngIf="pendingHolidayStart != null && pendingHolidayEnd != null">
      <div class="pending-vacation">Out of office between {{pendingHolidayStart}} and {{pendingHolidayEnd}}</div>
    </mat-card>
    <mat-expansion-panel *ngIf="holidays != null && holidays.length > 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          All holidays
        </mat-panel-title>
      </mat-expansion-panel-header>

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef> Start Date</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.startDate}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef> Duraton</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.duration}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="holidayType">
          <mat-header-cell *matHeaderCellDef> Holiday Type</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.holidayType}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="approvalState">
          <mat-header-cell *matHeaderCellDef> Approval State</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.approvalState}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['startDate', 'duration', 'holidayType', 'approvalState']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['startDate', 'duration', 'holidayType', 'approvalState']"></mat-row>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </mat-expansion-panel>

    <div *ngIf="isUserLoggedIn">
      <mat-expansion-panel *ngIf="tasks != null && tasks.length > 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            All tasks
          </mat-panel-title>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="taskDataSource">

          <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef> Category</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.category}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef> Details</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.details}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="deadline">
            <mat-header-cell *matHeaderCellDef> Deadline</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.deadline}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="['category', 'name', 'details', 'deadline']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['category', 'name', 'details', 'deadline']"></mat-row>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contract information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="contract">
          <mat-icon>credit_card</mat-icon>
          {{employee.contract.accountNumber}}
          <mat-icon>flight_takeoff</mat-icon>
          {{employee.contract.daysOffPerYear}}
          <mat-icon>attach_money</mat-icon>
          {{employee.contract.salary}}
        </div>
      </mat-expansion-panel>
    </div>
    <div class="button-group">
      <button mat-raised-button *ngIf="isAdmin()" (click)="deleteEmployee()">Remove employee</button>
      <button mat-raised-button *ngIf="isManager() && isUserLoggedIn" (click)="manageRequests()">Manage holiday requests
      </button>
      <button mat-raised-button *ngIf="isUserLoggedIn" (click)="addHolidayRequest()">Take time off</button>
    </div>
  </div>
</div>
