<mat-card>Add new notification</mat-card>
<form #form="ngForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label>Polecenie:
      <input type="text" class="form-control" name="instruction" [(ngModel)]="instruction" required>
    </label>
  </div>
  <div class="form-group">
    <label>Opis:
      <input type="text" class="form-control" name="description" [(ngModel)]="description">
    </label>
  </div>
  <div class="form-group">
    <label>Odbiorcy:
      <select name="consigneeIds" [(ngModel)]="consigneeIds" multiple>
        <option *ngFor="let c of consignees" [value]="c.id">{{c.id}} {{c.firstName}} {{c.lastName}}</option>
      </select>
    </label>
  </div>
  <button type="submit" [disabled]="form.invalid">Dodaj powiadomienie</button>
</form>
