@import "../../../../theme";

mat-icon {
  margin-left: 10px;
  margin-right: 5px;
}

.date-info {
  display: inline-flex;
  vertical-align: middle;
  padding-bottom: 10px;
}

.info {
  margin-top: 5px;
}
