<mat-card>Update Daily Plan</mat-card>
<div class="content" [formGroup]="form">

  <mat-form-field appearance="legacy">
    <mat-label>Employees per day</mat-label>
    <input matInput placeholder="employeesPerDay" formControlName="employeesPerDay" required>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Orders per day</mat-label>
    <input matInput placeholder="ordersPerDay" formControlName="ordersPerDay" required>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Returns per day</mat-label>
    <input matInput placeholder="returnsPerDay" formControlName="returnsPerDay" required>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Complaints resolved per day</mat-label>
    <input matInput placeholder="complaintsResolvedPerDay" formControlName="complaintsResolvedPerDay" required>
  </mat-form-field>

  <button mat-raised-button (click)="submitForm()" [disabled]="form.invalid">Update</button>
</div>
