<mat-card>Task</mat-card>
<div *ngIf="isTaskLoaded">
  {{task.id}} <br>
  {{task.category}} <br>
  {{task.name}} <br>
  {{task.details}} <br>
  {{task.assignee.firstName}} <br>
  {{task.assignee.lastName}} <br>
  {{task.estimatedTime}} <br>
  {{task.deadline}} <br>
  {{task.creationTime}} <br>
  {{task.startTime}} <br>
  {{task.endTime}} <br>
  {{task.type}} <br>
  {{task.reference}} <br>
  {{task.scheduledTime}}
  <div *ngIf="task.precedingTasks">
    <div *ngFor="let p of task.precedingTasks">
      {{p.id}} {{p.name}}
    </div>
  </div>
</div>
