<div *ngIf="isLoaded()">
  <br>{{employee.firstName}} {{employee.lastName}}
  <br>{{employee.email}}
  <br>{{employee.role}}
  <div *ngFor="let holiday of holidays">
    <br>{{holiday.startDate}}
    <br>{{holiday.duration}}
    <br>{{holiday.holidayType}}
    <br>{{holiday.approvalState}}
  </div>
  <div *ngIf="isUserLoggedIn">
    <br>{{employee.passwordValid}}
    <div *ngFor="let t of tasks">
      <br>{{t.category}} {{t.name}} {{t.details}} {{t.deadline}}
    </div>
    <br>
    <br>{{employee.contract.accountNumber}}
    <br>{{employee.contract.daysOffPerYear}}
    <br>{{employee.contract.salary}}
    <div *ngIf="isManager()"><br>
      <button (click)="showRequests = !showRequests">Zarządzaj urlopami podwładnych</button>
      <div *ngIf="showRequests" class="requests">
        <div *ngIf="hasRequests(); else noRequests">
          <div *ngFor="let holiday of holidayRequests">
            <br>{{holiday.employee.firstName}} {{holiday.employee.lastName}}
            <br>{{holiday.employee.role}}
            <br>{{holiday.startDate}}
            <br>{{holiday.duration}}
            <br>{{holiday.holidayType}}
            <br>{{holiday.approvalState}}
            <div *ngIf="holiday.approvalState == 'PENDING'">
              <button (click)="approve(holiday.id, holiday.employee.id)">Zaakceptuj</button>
              <button (click)="decline(holiday.id, holiday.employee.id)">Odrzuć</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="hasSubordinates()">
    <div *ngFor="let employee of subordinates">
      <br>{{employee.firstName}} {{employee.lastName}}
      <br>{{employee.email}}
    </div>
  </div>
  <br>
  <button *ngIf="isUserLoggedIn" (click)="addHolidayRequest()">Zgłoś urlop</button>
  <br>
  <button (click)="deleteEmployee()">Usuń pracownika</button>
</div>

<ng-template #noRequests>
  Nie ma żadnych zgłoszeń!
</ng-template>
