<form #form="ngForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label>Nazwa:
      <input type="text" class="form-control" name="name" [(ngModel)]="name" required>
    </label>
  </div>
  <div class="form-group">
    <label>Opis:
      <input type="text" class="form-control" name="description" [(ngModel)]="description">
    </label>
  </div>
  <div class="form-group">
    <label>Beneficjenci:
      <select name="recipientIds" [(ngModel)]="recipientIds" multiple>
        <option *ngFor="let r of recipients" [value]="r.id">{{r.id}} {{r.firstName}} {{r.lastName}}</option>
      </select>
    </label>
  </div>
  <button type="submit" [disabled]="form.invalid">Dodaj sugestię</button>
</form>
