<mat-card>Returns</mat-card>
<div class="content">
  <mat-progress-spinner *ngIf="!areReturnsLoaded" mode="indeterminate">
  </mat-progress-spinner>
  <div *ngIf="areReturnsLoaded">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Index</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Customer name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.firstName}} {{row.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.status}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef> Value</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.value}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="deadline">
        <mat-header-cell *matHeaderCellDef> Deadline</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.scheduledFor}}</mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="['id', 'name', 'status', 'value', 'deadline']"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: ['id', 'name', 'status', 'value', 'deadline']"
        (click)="seeReturn(row.id)"></mat-row>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <button mat-raised-button (click)="addReturn()">Add return</button>
  </div>
</div>
