@import "../../../../theme";

.content {
  margin: 15px;
}

table {
  width: 100%;
}

mat-progress-spinner {
  margin: auto;
}

mat-row {
  cursor: pointer;
}

button {
  margin-top: 15px;
  float: right;
}
