<div *ngIf="areOrdersLoaded">
  <div *ngFor="let o of visibleOrders">
    <hr>{{o.id}} {{o.status}} {{o.firstName}} {{o.lastName}} {{o.email}} {{o.phoneNumber}} {{o.street}}
    {{o.houseNumber}} {{o.city}} {{o.postalCode}} {{o.scheduledFor}} {{o.value}}
    <div *ngFor="let d of o.deliveryItems">
      {{d.item.name}} {{d.quantity}}
    </div>
    <button (click)="seeOrder(o.id)">Zobacz</button>
  </div>
  <div>
    <button *ngFor="let page of pageNumbers" (click)="changePage(page)" [class.active]="page == selectedPage">
      {{page}}
    </button>
  </div>
  <button (click)="addOrder()">Dodaj zamówienie</button>
</div>
