<div *ngIf="areItemsLoaded">
  <form #form='ngForm' (ngSubmit)='addDeliveryItem()'>
    <div class="form-group">
      <label>Przedmiot: </label>
      <select name="itemid" [(ngModel)]="itemId" required>
        <option *ngFor="let i of items" [value]="i.id">{{i.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Ilość: </label>
      <input type="number" class="form-control" name="quantity" [(ngModel)]="quantity" required>
    </div>
    <button type='submit' [disabled]="itemId == null || quantity == null">Dodaj przedmioty do zamówienia</button>
  </form>
  <div *ngFor="let itemRequest of deliveryItemRequests">
    {{itemRequest.itemId}} {{itemRequest.quantity}}
  </div>
  <form #form='ngForm' (ngSubmit)='addOrder()'>
    <div class="form-group">
      <label>Imię:
        <input type="text" class="form-control" name="firstName" [(ngModel)]="firstName" required>
      </label>
    </div>
    <div class="form-group">
      <label>Nazwisko:
        <input type="text" class="form-control" name="lastName" [(ngModel)]="lastName" required>
      </label>
    </div>
    <div class="form-group">
      <label>E-mail:
        <input type="text" class="form-control" name="email" [(ngModel)]="email" required>
      </label>
    </div>
    <div class="form-group">
      <label>Nr telefonu:
        <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="phoneNumber">
      </label>
    </div>
    <div class="form-group">
      <label>Ulica:
        <input type="text" class="form-control" name="street" [(ngModel)]="street" required>
      </label>
    </div>
    <div class="form-group">
      <label>Nr domu:
        <input type="text" class="form-control" name="houseNumber" [(ngModel)]="houseNumber" required>
      </label>
    </div>
    <div class="form-group">
      <label>Miejscowość:
        <input type="text" class="form-control" name="city" [(ngModel)]="city" required>
      </label>
    </div>
    <div class="form-group">
      <label>Kod pocztowy:
        <input type="text" class="form-control" name="postalCode" [(ngModel)]="postalCode" required>
      </label>
    </div>
    <div class="form-group">
      <label>Data:
        <input type="date" class="form-control" name="scheduledFor" [(ngModel)]="scheduledFor" required>
      </label>
    </div>
    <button type='submit' [disabled]="scheduledFor == null || deliveryItemRequests.length == 0">
      Potwierdź zamówienie
    </button>
  </form>
</div>
