<form #form='ngForm' (ngSubmit)='submitForm()'>
  <div class="form-group">
    <label>Rola: </label>
    <select name="role" [(ngModel)]="role" required>
      <option *ngFor="let r of roles" [value]="r">{{r}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Menedżer: </label>
    <select name="managerId" [(ngModel)]="managerId" required>
      <option *ngFor="let m of managers" [value]="m.id">{{m.firstName}} {{m.lastName}} {{m.role}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Pracownicy: </label>
    <select name="employeeIds" [(ngModel)]="employeeIds" required multiple>
      <option *ngFor="let e of nonManagers" [value]="e.id">{{e.firstName}} {{e.lastName}} {{e.role}}</option>
    </select>
  </div>
  <button type='submit' [disabled]="form.invalid">Submit</button>
</form>
