<button class="open-button" onclick="document.getElementById('myForm').style.display ='block';">Chat</button>

<div class="chat-popup" id="myForm">
  <form class="form-container">
    <h1>Chat</h1>
    <div class="chat-container">
      <div class="chat">
        <div class="message"></div>
      </div>
    </div>
    <textarea id="input" type="text" name="msg" #input></textarea>


    <button type="submit" class="btn" (click)="sendMessage(input.value)">Send</button>
    <button type="button" class="btn cancel" onclick="document.getElementById('myForm').style.display = 'none';">Close
    </button>
  </form>
</div>
