<form #form='ngForm' (ngSubmit)='submitForm()'>
  <div class="form-group">
    <label>Data: </label>
    <input type="date" class="form-control"
           name="startDate" [(ngModel)]="startDate"
           required/>
  </div>
  <div class="form-group">
    <labeL>Czas trwania: </labeL>
    <input type="number" class="form-control"
           name="duration" [(ngModel)]="duration"
           required min="0"/>
  </div>
  <div class="form-group">
    <label>Typ: </label>
    <select name="holidayType" [(ngModel)]="holidayType" required>
      <option *ngFor="let t of types" [value]="t">{{t}}</option>
    </select>
  </div>
  <button type='submit' [disabled]="form.invalid">Submit</button>
</form>
