<mat-card>Write email</mat-card>
<div class="content" [formGroup]="form">

  <mat-form-field appearance="legacy">
    <mat-label>To</mat-label>
    <input matInput placeholder="email" formControlName="email" required>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Subject</mat-label>
    <input matInput placeholder="subject" formControlName="subject" required>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Content</mat-label>
    <input matInput placeholder="fullContent" formControlName="fullContent" required>
  </mat-form-field>

  <button mat-raised-button (click)="send()" [disabled]="form.invalid">Send</button>
</div>
