@import "../variables";

mat-drawer {
  background-color: $light;
}

mat-drawer-container {
  height: 100%;
  background-color: white;
}

mat-expansion-panel {
  margin: 0;
  background-color: $normal;
}

.mat-nav-list[dense] {
  padding-top: 0;
  background-color: $light;
}

mat-expansion-panel-header {
  padding: 0 20px;
}

mat-icon {
  font-size: 22px !important;
}

mat-card {
  border-radius: 0;
  padding: 15px 15px 15px 20px;
  background-color: $dark;
  &:hover {
    cursor: pointer;
  }
}
