@import "../variables";

mat-drawer {
  background-color: $light;
}

mat-drawer-container {
  height: 100%;
  background-color: white;
}

mat-expansion-panel {
  margin: 0;
  background-color: $normal;
}

.mat-nav-list[dense] {
  padding-top: 0;
  background-color: $light;
}

mat-expansion-panel-header {
  padding: 0 20px;
}

mat-icon {
  font-size: 22px !important;
}

mat-card {
  border-radius: 0;
  padding: 15px 15px 15px 20px;
  background-color: $dark;
  &:hover {
    cursor: pointer;
  }
}

.chat-container {
  height: 40vh;
  width: 50vw;
}

#chat {
  overflow: scroll;
  overflow-x: hidden;
  text-align: left;
  margin: 0 0;
  width: 50%;
  height: 100%;
  border: 1px solid grey;
}

.send-button {
  margin: 0 auto;
  height: 70%;
  width: 50%;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 4vw;
}

/* The popup chat - hidden by default */
.chat-popup {
  //display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}
