<form #form='ngForm' (ngSubmit)='submitForm()'>
  <div class="form-group">
    <label>Imię: </label>
    <input type="text" class="form-control"
           name="firstName" [(ngModel)]="firstName"
           required/>
  </div>
  <div class="form-group">
    <label>Nazwisko: </label>
    <input type="text" class="form-control"
           name="lastName" [(ngModel)]="lastName"
           required/>
  </div>
  <div class="form-group">
    <label>Email: </label>
    <input type="email" class="form-control"
           name="email" [(ngModel)]="email"
           required email/>
  </div>
  <div class="form-group">
    <label>Rola: </label>
    <select name="role" [(ngModel)]="role" required>
      <option *ngFor="let r of roles" [value]="r">{{r}}</option>
    </select>
  </div>
  <button type='submit' [disabled]="form.invalid">Dodaj pracownika</button>
  <br>
  <div class="form-group">
    <label>Numer konta: </label>
    <input type="number" class="form-control"
           name="accountNumber" [(ngModel)]="accountNumber"
           required/>
  </div>
  <div class="form-group">
    <label>Ilość dni wolnych w roku: </label>
    <input type="number" class="form-control"
           name="daysOffPerYear" [(ngModel)]="daysOffPerYear"
           required/>
  </div>
  <div class="form-group">
    <label>Wynagrodzenie: </label>
    <input type="number" class="form-control"
           name="salary" [(ngModel)]="salary"
           required/>
  </div>
  <button type='submit' [disabled]="form.invalid">Submit</button>
</form>
