<mat-card>Items</mat-card>
<div class="content">
  <mat-progress-spinner *ngIf="!areItemsLoaded" mode="indeterminate">
  </mat-progress-spinner>
  <div *ngIf="areItemsLoaded">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Index</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef> Quantity</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.quantity}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="stockPrice">
        <mat-header-cell *matHeaderCellDef> Stock price</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.stockPrice}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="originalPrice">
        <mat-header-cell *matHeaderCellDef> Original price</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.originalPrice}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="currentPrice">
        <mat-header-cell *matHeaderCellDef> Current price</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.currentPrice}}</mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="['id', 'name', 'quantity', 'stockPrice', 'originalPrice', 'currentPrice']"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: ['id', 'name', 'quantity', 'stockPrice', 'originalPrice', 'currentPrice']"
        (click)="fetchItem(row.id)"></mat-row>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <button mat-raised-button (click)="addItem()">Add item</button>
  </div>
</div>


<div *ngIf="areItemsLoaded">
  <button (click)="showAddSpecialOffer = !showAddSpecialOffer">Wprowadź ofertę specjalną</button>
  <div *ngIf="showAddSpecialOffer">
    <form #form='ngForm' (ngSubmit)='addSpecialOffer()'>
      <div class="form-group">
        <label>Ilość % obniżki: </label>
        <input type="number" class="form-control"
               name="percentOff" [(ngModel)]="percentOff"
               required/>
      </div>
      <div class="form-group">
        <label>Produkty (opcjonalnie): </label>
        <input type="text" class="form-control"
               name="query" [(ngModel)]="query"/>
      </div>
      <button type='submit' [disabled]="form.invalid">Zatwierdź</button>
    </form>
  </div>
  <br>
  <button (click)="cancelSpecialOffer()">Anuluj ofertę specjalną</button>
</div>
