<mat-card>Work Planning</mat-card>
<mat-progress-spinner *ngIf="!isDailyPlanLoaded" mode="indeterminate"></mat-progress-spinner>
<div class="content" *ngIf="isDailyPlanLoaded">
  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="collapsedHeight"
                                [expandedHeight]="expandedHeight">
      <mat-panel-title>
        <div class="daily-plan-info">
          <span class="info">Daily plan</span>
          <button mat-icon-button (click)="updateDailyPlan()">
            <mat-icon>create</mat-icon>
          </button>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        Employees per day: {{dailyPlan.employeesPerDay}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Orders per day: {{dailyPlan.ordersPerDay}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Returns per day: {{dailyPlan.returnsPerDay}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Complaints resolved per day: {{dailyPlan.complaintsResolvedPerDay}}
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>

  <mat-card *ngIf="isDailyPlanLoaded && isTodayLoaded">
    <div class="daily-plan-info">
      <span class="info">Today - orders to be completed: {{ordersToday}}</span>
    </div>
  </mat-card>
  <mat-card *ngIf="isDailyPlanLoaded && isTomorrowLoaded">
    <div class="daily-plan-info">
      <span class="info">Tomorrow - orders to be completed: {{ordersTomorrow}}</span>
      <button mat-icon-button *ngIf="ordersTomorrow > dailyPlan.ordersPerDay" (click)="tomorrowSpecialPlan()">
        <mat-icon>create</mat-icon>
      </button>
    </div>
  </mat-card>
  <mat-card *ngIf="isDailyPlanLoaded && isInTwoDaysLoaded">
    <div class="daily-plan-info">
      <span class="info">In two days - orders to be completed: {{ordersInTwoDays}}</span>
      <button mat-icon-button *ngIf="ordersInTwoDays > dailyPlan.ordersPerDay" (click)="inTwoDaysSpecialPlan()">
        <mat-icon>create</mat-icon>
      </button>
    </div>
  </mat-card>
    <button mat-raised-button class="floating-button" (click)="addSpecialPlan()">Add special plan</button>
</div>
