<mat-card>Sign in</mat-card>
<div class="content" [formGroup]="form">

  <mat-form-field appearance="legacy">
    <mat-label>Email</mat-label>
    <input matInput placeholder="email" formControlName="email" required>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Password</mat-label>
    <input matInput placeholder="password" formControlName="password" required>
  </mat-form-field>

  <button mat-raised-button (click)="login()" [disabled]="form.invalid">Sign in</button>
</div>
