mat-progress-spinner {
  margin: auto;
}

button {
  font-style: italic;
}

  .accept {
    color: limegreen;
  }

  .decline {
    color: darkred;
  }

mat-icon {
  margin-right: 5px;
  margin-left: 15px;
}

.error {
  font-style: italic;
  color: darkred;
}

