// Import material functions for themes:
@import '~@angular/material/theming';

// Copy the palettes from selected theme (indigo-pink.css):
$app-primary: mat-palette($mat-blue-gray);
$app-accent:  mat-palette($mat-light-blue);
$app-warn:    mat-palette($mat-light-green);

// Create own Sass color variables (on the basis of theme names):
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
