<mat-list>
  <div class="description">
    {{data.specialPlan.description}}
  </div>
  <mat-divider></mat-divider>
  <mat-list-item>
    Date: {{data.specialPlan.day}}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    Employees per day: {{data.specialPlan.employeesPerDay}}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    Orders per day: {{data.specialPlan.ordersPerDay}}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    Returns per day: {{data.specialPlan.returnsPerDay}}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    Complaints resolved per day: {{data.specialPlan.complaintsResolvedPerDay}}
  </mat-list-item>
</mat-list>
